#navbar
{
  background: #042372
}
#loginCard
{
    background: #042372
}
.wrapper
{
    background: white;
    height: max-content;
}
.wrapper-full-page
{
    background: white;
        height: max-content;
}
