#navbar
{
  background: #042372
}
#loginCard
{
    background: #042372
}
.wrapper-full-page
{
    background: white;
}
.wrapper-full-page
{
    background: white;
}
.container
{
    background: white;
}
