<!--
 -->

 <div class="row" style="margin-top: 5rem">
    <div class="col-md-12">
        <div class="table-responsive">
            <table aria-describedby="listDoctors" class="table">
                <thead>
                <tr>
                    <th class="">Image User</th>
                    <th class="">Birthday</th>
                    <th class="">First Name</th>
                    <th class="">Last Name</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <!-- <th>Email</th> -->
                    <th>Update  User</th>
                    <th>Delete  User</th>
                </tr>
                </thead>
                <tbody #tbody>
                <tr >
                    <td><img src="../../../assets/img/user.png" width="50px"></td>
                    <td class="">25-07-1999</td>
                    <td class="">Anis</td>
                        <th class="">Ghabi Anis</th>
                        <th class="">anisghabi8@gmail.com</th>
                        <th class="">90770350</th>
                    <ng-container  >
                        <!-- <th class="">Salah@Salah.com</th> -->
                        <!-- <th class="" style="">
                            <a  class="btn btn-info">
                                <em class="material-icons">personal_injury</em>
                            </a>
                        </th> -->
                    </ng-container>
                    <td class="">
                        <button mat-raised-button class="btn btn-success"
                                style="margin-left: 5%; height: 40px">
                            <em class="material-icons">edit</em>
                        </button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger" type="button">
                            <em class="material-icons" >delete</em>
                        </button>
                    </td>
                </tr>
                <tr >
                    <td><img src="../../../assets/img/user.png" width="50px"></td>
                    <td class="">20-02-1970</td>
                    <td class="">Anis</td>
                        <th class="">Ben Abdallah Amel</th>
                        <th class="">AmelBenAbdallah@gmail.com</th>
                        <th class="">52112161</th>
                    <ng-container  >
                        <!-- <th class="">Salah@Salah.com</th> -->
                        <!-- <th class="" style="">
                            <a  class="btn btn-info">
                                <em class="material-icons">personal_injury</em>
                            </a>
                        </th> -->
                    </ng-container>
                    <td class="">
                        <button mat-raised-button class="btn btn-success"
                                style="margin-left: 5%; height: 40px">
                            <em class="material-icons">edit</em>
                        </button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger" type="button">
                            <em class="material-icons" >delete</em>
                        </button>
                    </td>
                </tr>
                <tr >
                    <td><img src="../../../assets/img/user.png" width="50px"></td>
                    <td class="">25-07-1980</td>
                    <td class="">Anis</td>
                        <th class="">Aribi Ali</th>
                        <th class="">aliAribi@gmail.com</th>
                        <th class="">77300631</th>
                    <ng-container  >
                        <!-- <th class="">Salah@Salah.com</th> -->
                        <!-- <th class="" style="">
                            <a  class="btn btn-info">
                                <em class="material-icons">personal_injury</em>
                            </a>
                        </th> -->
                    </ng-container>
                    <td class="">
                        <button mat-raised-button class="btn btn-success"
                                style="margin-left: 5%; height: 40px">
                            <em class="material-icons">edit</em>
                        </button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger" type="button">
                            <em class="material-icons" >delete</em>
                        </button>
                    </td>
                </tr>
                <tr >
                    <td><img src="../../../assets/img/user.png" width="50px"></td>
                    <td class="">27-07-1970</td>
                    <td class="">Anis</td>
                        <th class="">Salah Moahmed</th>
                        <th class="">salahMoahmed@gmail.com</th>
                        <th class="">77050332</th>
                    <ng-container  >
                        <!-- <th class="">salahMoahmed@gmail.com</th> -->
                        <!-- <th class="" style="">
                            <a  class="btn btn-info">
                                <em class="material-icons">personal_injury</em>
                            </a>
                        </th> -->
                    </ng-container>
                    <td class="">
                        <button mat-raised-button class="btn btn-success"
                                style="margin-left: 5%; height: 40px">
                            <em class="material-icons">edit</em>
                        </button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger" type="button">
                            <em class="material-icons" >delete</em>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
